@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 5px;
    height: 20px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #303030;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #facc15;
    border-radius: 100vh;
    border: 1px solid #000000;
  }

   body::-webkit-scrollbar {
    width: 5px;
    height: 20px;
  }

  body::-webkit-scrollbar-track {
    width: 7px;
    border-radius: 100vh;
    background: #303030;
  }

  body::-webkit-scrollbar-thumb {
    background: #facc15;
    border-radius: 100vh;
    border: 1px solid #000000;
  }

  

}